<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{{UserImg}}" width="40" height="40" class="rounded-circle">
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" routerLink="/login" [style.display]="(IsSignIn ? 'none' : 'block')">
              <b>SignIn</b>
      </a>
      <b [style.display]="(IsSignIn ? 'block' : 'none')">{{UserName}}</b>
      <!--
      <a class="dropdown-item" routerLink="/register">Register</a>
      <a class="dropdown-item" routerLink="/profiles">Profiles</a>
      -->
      <a class="dropdown-item" (click)="LogOut()" [style.display]="(IsSignIn ? 'block' : 'none')" >Log Out</a>
    </div>
  </li>
</ul>
