<div class="modal-header">
    <h4 class="modal-title">Register</h4>
    <button [disabled]="IsSubmit" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<form [formGroup]="registerForm" (ngSubmit)="OnRegister()" novalidate>
  <div class="modal-body">        
    <div class="form-group" >
      <label for="username">Username</label>
      <input formControlName="userName" type="text" class="form-control" name="username"/>
    </div>
    <div class="form-group" >
      <label for="eMail">E-Mail</label>
      <input formControlName="eMail" type="text" class="form-control" name="eMail"/>
      <div *ngIf="registerForm.controls['eMail'].errors?.required && registerForm.controls['eMail'].touched"
           class="alert alert-danger">EMail is required</div>
      <div *ngIf="registerForm.controls['eMail'].errors?.email && registerForm.controls['eMail'].touched"
           class="alert alert-danger">Email invalid</div>      
    </div>
    <div class="form-group" >
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" name="password" 
             required />
      <div *ngIf="registerForm.controls['password'].errors?.required && registerForm.controls['password'].touched"
           class="alert alert-danger">Password is required</div>
    </div>
    <div class="form-group">
      <label for="password_confirm">Confirm password</label>
      <input formControlName="confirmPassword" type="password" class="form-control" name="password_confirm" required />
      <div *ngIf="registerForm.controls['confirmPassword'].errors?.required && registerForm.controls['confirmPassword'].touched"
           class="alert alert-danger">Confirm password is required</div>
      <div *ngIf="registerForm.errors?.notSame"
           class="alert alert-danger">Passwords do not match</div>
    </div>          
  </div>
  <div class="modal-footer" >
    <button class="btn btn-primary"  [disabled]="IsSubmit" > Ok </button>
  </div>
</form>