<div class="modal-header">
    <h4 class="modal-title">Edit user</h4>
    <button [disabled]="IsSubmit" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
 </div>
<form [formGroup]="userFG" (ngSubmit)="OnOk()" novalidate>
  <div class="modal-body">        

    <div class="form-group" >
      <label for="username">User name</label>
      <input formControlName="userName" type="text" class="form-control" name="username"/>
      <div *ngIf="userFG.controls['userName'].errors?.required && userFG.controls['userName'].touched"
           class="alert alert-danger">Username is required</div>
    </div>

    <div class="form-group" >
        <label for="secondname">Second name</label>
        <input formControlName="secondName" class="form-control" name="secondname" 
               required />
        <div *ngIf="userFG.controls['secondName'].errors?.required && userFG.controls['secondName'].touched"
              class="alert alert-danger">Second name is required</div>
    </div>

    <div class="form-group" >
      <label for="email">E-Mail</label>
      <input formControlName="email" type="text" class="form-control" name="email"/>  
      <div *ngIf="userFG.controls['email'].errors?.required && userFG.controls['email'].touched"
           class="alert alert-danger">EMail  is required</div>
      <div *ngIf="userFG.controls['email'].errors?.email && userFG.controls['email'].touched"
           class="alert alert-danger">Email invalid</div>      
    </div>
    
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input formControlName="phone" class="form-control" name="phone" required />
      <div *ngIf="userFG.controls['phone'].errors?.required && userFG.controls['phone'].touched"
           class="alert alert-danger">Phone is required</div>
    </div>          
  </div>
  <div class="modal-footer" >
    <button class="btn btn-primary"  [disabled]="IsSubmit" > Ok </button>
  </div>
</form>